* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fff;
    font-size: 16px;
    height: 100vh;
}

body.dark {
    background-color: #000;
}

h1 {
    font-weight: bolder;
    margin: 0;
}

p {
    font-weight: 300;
    text-align: right;
}

#switch {
    color: #000;
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: 40px;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
}

body.dark #switch {
    color: #fff;
}

.section {
    margin: 0;
    position: relative;
}

.section h1 {
    color: #666;
    font-size: 60px;
}

body.dark .section h1 {
    color: #c6c4c4;
}

.section p {
    margin: 0;
    color: #000;
    font-size: 15px;
}

body.dark .section p {
    color: #c6c4c4;
}

.icons {
    margin-top: 20px;
}

.icons a {
    color: #000;
    font-weight: normal;
    font-size: 30px;
    transition: ease-in-out all 0.1s;
}

body.dark .icons a {
    color: #fff;
}

.icons a:hover {
    color: rgba(66, 68, 72, 0.66);
}

body.dark .icons a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#particles-js {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


@media all and (min-width: 767px) {
    .section h1 {
        font-size: 72px;
    }

    .section p {
        font-size: 20px;
    }

    .icons a {
        font-size: 40px;
    }
}

@media all and (min-width: 1023px) {
    .section h1 {
        font-size: 90px;
    }

    .section p {
        font-size: 30px;
    }

    .icons a {
        font-size: 40px;
    }
}